#container {
	width: 400px;
	margin: 15px auto;
}

body {
	background-image: url(https://d1f5hsy4d47upe.cloudfront.net/10/101763dd6f047af58fe8bca0d6597eda_t.jpeg);
	background-position: center center;
	background-size: cover
}

h1 {
	text-align: center;
	margin-bottom: 15px
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul > li {
	padding-bottom: 20px;
}

button {
	float: right;
	cursor: pointer;
	display: inline-block;
}

#user_name {
	text-align: right;
}

#new {
	width: 390px;
	border-radius: 5px;
	margin: 0 auto 15px;
}

#flag_form {
	display: inline-block;
}

#delete_form {
	display: inline-block;
	float: right;
}	

.btn {
	font-weight: bold;
	background-color: #248;
	color: #fff;
	border-style: none;
	border-radius: 5px;
}

.btn:hover {
	background-color: #24d;
}

.log_btn {
	font-weight: bold;
        background-color: #333;
        color: #fff;
        border-style: none;
        border-radius: 5px;
	margin-right: 10px;
}

.log_btn:hover {
	background-color: #666;
}

.done {
	text-decoration: line-through;
}

.login {
	width: 390px;
        border-radius: 5px;
        margin: 0 auto 30px;
}
