#container {
	width: 500px;
	margin: 15px auto;
}

h1 {
	text-align: center;
	margin-bottom: 15px
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul > li {
	padding-bottom: 20px;
}

button {
	float: right;
	cursor: pointer;
	display: inline-block;
}

#new {
	width: 490px;
	border-radius: 5px;
	margin: 0 auto 15px;
}

#flag_form {
	display: inline-block;
}

#delete_form {
	display: inline-block;
	float: right;
}	

.btn {
	font-weight: bold;
	background-color: #248;
	color: #fff;
	border-style: none;
	border-radius: 5px;
}

.btn:hover {
	background-color: #24d;
}

.done {
	text-decoration: line-through;
}
